.postfix {
  text-align: center;
  margin-top:20px;
  padding:20px;

}
.output-text {
  color:blue;
  font-size:35px;

  display: block;
  padding-top:20px;
  margin-left:45%;
}
.input-box {
  display: inline;
  font-size:30px;
  height:30px;
  width:400px;
 
}
.submit {
  padding: 11px;
  margin-left: 43%;
  width: 15%;
  font-size: 19px;
  display: block;
}
.provide-width {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-left:35%;
}